*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.quarto
_book
_book (Copy)
_book (Kopie)
/.quarto/
zzz_memo.txt
chapters.ods
in_header.pages.dev.html
callout.RData
callout_embedding.RData
callout_experiment.RData
EXPERIMENT.qmd
